<h1>New <%= @album.title %> Track</h1>
<form action="<%= tracks_url %>" method="POST">
<input type="hidden" name="track[album_id]" value="<%= @album.id %>">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label> Name
        <input type="text" name="track[title]" value="">
    </label>
    <label> Album
        <select>
            <% @albums.each do |album| %>
                <% if @album.id == album.id %>
                    <option value="<%= album.id %>" selected><%= album.title %></option>
                <% else %>
                    <option value="<%= album.id %>"><%= album.title %></option>
                <% end %>
            <% end %>
        </select>
    </label>
    <label>ORD
        <input type="number" name="track[ord]" value="">
    </label>
    Standard <input type="radio" name="track[is_bonus]" value="false"> 
    Bonus <input type="radio" name="track[is_bonus]" value="true">
    <label> Lyrics
        <textarea name="track[lyrics]"></textarea>
    </label>
    <input type="submit" value="Submit">
</form>

<% if flash[:errors]%>
    <ul class = "errors">
        <% flash[:errors].each do |error|  %>
        <li><%= error %></li>
        <% end %>
    </ul>
<% end %>